@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;1,600&family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Piazzolla", serif;
}

h1 {
  font-weight: 600;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  max-width: 100%;
}
